*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.product-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.productItems {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
}

.productcard {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    transition: transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
}

.productcard:hover {
    transform: scale(1.05);
}

.product-image {
    width: 100px;
    height: 150px;
    object-fit: contain;
}

.product-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Adjust this value based on your layout */
}

.product-price {
    color: #b12704;
    font-size: 18px;
    font-weight: 600;
}


.add-to-cart-btn {
    margin-top: 10px;
    background-color: #f0c14b;
    border: 1px solid #a88734;
    padding: 10px 20px;
    
    border-radius: 5px;
}
